{% extends "base.html" %}
{% block title %}Stats{% endblock %}

{% block content %}
<section id="top_section">
    <h2>Compare with anybody</h2>
    <p>Enter the summoner name and region of the player you want to compare with. You can also select the type of stats
        you want to compare.</p>
    <div id="input_container">
        <select name="region1" id="region1">
            <option value="" selected disabled hidden>Region</option>
            <option value="americas">AMERICAS</option>
            <option value="asia">ASIA</option>
            <option value="europe">EUROPE</option>
        </select>
        <input type="text" name="gameName1" id="gameName1" placeholder="Username">
        <input type="text" name="tagLine1" id="tagLine1" placeholder="Tag">
        <button type="submit" onclick="getRiotPuuids()">Compare</button>
        <select name="region2" id="region2">
            <option value="" selected disabled hidden>Region</option>
            <option value="americas">AMERICAS</option>
            <option value="asia">ASIA</option>
            <option value="europe">EUROPE</option>
        </select>
        <input type="text" name="gameName2" id="gameName2" placeholder="Username">
        <input type="text" name="tagLine2" id="tagLine2" placeholder="Tag">
    </div>
</section>
<section id="bot_section">
    <img src="{{url_for('static', filename='/resources/stats_image.webp')}}">
    <div id="hidden_container">
        <div class="tab">
            <button class="tablinks" data-tab="Summoner">Summoner</button>
            <button class="tablinks" data-tab="SoloQ">Solo Q</button>
            <button class="tablinks" data-tab="FlexQ">Flex Q</button>
        </div>
        <div id="Summoner" class="tabcontent">
            <h3>Summoner</h3>
            <div id="accountCard">
                <div id="oneSummAccount">
                    <div id="sum1BigTop">
                        <img id="oneImage" src="" alt="profile icon">
                        <div id="sum1TopRight">
                            <h4 id="oneLevel">Level</h4>
                            <h4 id="oneRegion">Region</h4>
                        </div>
                    </div>
                    <div id="sumBig1Bot">
                        <div id="sum1BotLeft">
                            <h4 id="oneName">Name</h4>
                            <h4 id="oneTag">Tag</h4>
                        </div>
                    </div>
                </div>
                <div id="twoSummAccount">
                    <div id="sum2BigTop">
                        <img id="twoImage" src="" alt="profile icon">
                        <div id="sum2TopRight">
                            <h4 id="twoLevel">Level</h4>
                            <h4 id="twoRegion">Region</h4>
                        </div>
                    </div>
                    <div id="sumBig2Bot">
                        <div id="sum2BotLeft">
                            <h4 id="twoName">Name</h4>
                            <h4 id="twoTag">Tag</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="SoloQ" class="tabcontent">
            <h3>Solo Q</h3>
            <div id="rankedCard">
                <div id="oneSummRank">
                    <div id="sum1BigTopRank">
                            <img id="oneImageTier" src="" alt="rank tier">
                        <div id="sum1TopRightRank">
                            <h4 id="oneNameRank">Name</h4>
                            <h4 id="oneRank">RANK</h4>
                            <h4 id="oneLps"><span id="span1Lps"></span> LPs</h4>
                        </div>
                    </div>
                    <div id="sum1BigBotRank">
                        <h4 id="oneGames">Games</h4>
                        <h4 id="oneWins">Wins</h4>
                        <h4 id="oneLosses">Losses</h4>
                        <h4 id="oneWR">W/R: <span id="span1WR"></span></h4>
                    </div>
                </div>
                <div id="twoSummRank">
                    <div id="sum2BigTopRank">
                            <img id="twoImageTier" src="" alt="rank tier">
                        <div id="sum2TopRightRank">
                            <h4 id="twoNameRank">Name</h4>
                            <h4 id="twoRank">RANK</h4>
                            <h4 id="twoLps"><span id="span2Lps"></span> LPs</h4>
                        </div>
                    </div>
                    <div id="sum2BigBotRank">
                        <h4 id="twoGames">Games</h4>
                        <h4 id="twoWins">Wins</h4>
                        <h4 id="twoLosses">Losses</h4>
                        <h4 id="twoWR">W/R: <span id="span2WR"></span></h4>
                    </div>
                </div>
            </div>
        </div>
        <div id="FlexQ" class="tabcontent">
            <h3>Flex Q</h3>
            <div id="flexCard">
                <div id="oneSummFlex">
                    <div id="sum1BigTopFlex">
                            <img id="oneImageTierFlex" src="" alt="flex rank tier">
                        <div id="sum1TopRightFlex">
                            <h4 id="oneNameFlex">Name</h4>
                            <h4 id="oneRankFlex">RANK</h4>
                            <h4 id="oneLpsFlex"><span id="span1LpsFlex"></span> LPs</h4>
                        </div>
                    </div>
                    <div id="sum1BigBotFlex">
                        <h4 id="oneGamesFlex">Games</h4>
                        <h4 id="oneWinsFlex">Wins</h4>
                        <h4 id="oneLossesFlex">Losses</h4>
                        <h4 id="oneWRFlex">W/R: <span id="span1WRFlex"></span></h4>
                    </div>
                </div>
                <div id="twoSummFlex">
                    <div id="sum2BigTopFlex">
                            <img id="twoImageTierFlex" src="" alt="flex rank tier">
                        <div id="sum2TopRightFlex">
                            <h4 id="twoNameFlex">Name</h4>
                            <h4 id="twoRankFlex">RANK</h4>
                            <h4 id="twoLpsFlex"><span id="span2LpsFlex"></span> LPs</h4>
                        </div>
                    </div>
                    <div id="sum2BigBotFlex">
                        <h4 id="twoGamesFlex">Games</h4>
                        <h4 id="twoWinsFlex">Wins</h4>
                        <h4 id="twoLossesFlex">Losses</h4>
                        <h4 id="twoWRFlex">W/R: <span id="span2WRFlex"></span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}