{% extends "base.html" %}
{% block title %}Stats{% endblock %}

{% block content %}
<script>const API_KEY = "{{ API_KEY }}";</script>

<section id="top_section">
    <h2>Compare with anybody</h2>
    <p>Enter the summoner name and region of the player you want to compare with. You can also select the type of stats
        you want to compare.</p>
    <select name="region1" id="region1">
        <option value="" selected disabled hidden>Region</option>
        <option value="americas">AMERICAS</option>
        <option value="asia">ASIA</option>
        <option value="europe">EUROPE</option>
    </select>
    <input type="text" name="gameName1" id="gameName1" placeholder="Username">
    <input type="text" name="tagLine1" id="tagLine1" placeholder="Tag">
    <button type="submit" onclick="getRiotPuuids()">Compare</button>
    <select name="region2" id="region2">
        <option value="" selected disabled hidden>Region</option>
        <option value="americas">AMERICAS</option>
        <option value="asia">ASIA</option>
        <option value="europe">EUROPE</option>
    </select>
    <input type="text" name="gameName2" id="gameName2" placeholder="Username">
    <input type="text" name="tagLine2" id="tagLine2" placeholder="Tag">
</section>
<section id="bot_section">
    <div id="hidden_container">
        <div class="tab">
            <button class="tablinks" data-tab="Account">Account</button>
            <button class="tablinks" data-tab="Ranked">Ranked</button>
            <button class="tablinks" data-tab="Mastery">Mastery</button>
        </div>
        <div id="Account" class="tabcontent">
            <h3>Account</h3>
            <div id="accountCard">
                <div id="oneSummAccount" class="js-tilt">
                    <div id="sum1MiniLeft">
                        <h4 id="oneName">Name</h4>
                        <img id="oneImage" src="" alt="profile icon">
                    </div>
                    <div id="sum1MiniRight">
                        <h4 id="oneLevel">Level</h4>
                        <h4 id="oneRegion">Region</h4>
                    </div>
                </div>
                <div id="twoSummAccount" class="js-tilt">
                    <div id="sum2MiniLeft">
                        <h4 id="twoName">Name</h4>
                        <img id="twoImage" src="" alt="profile icon">
                    </div>
                    <div id="sum2MiniRight">
                        <h4 id="twoLevel">Level</h4>
                        <h4 id="twoRegion">Region</h4>
                    </div>
                </div>
            </div>
        </div>
        <div id="Ranked" class="tabcontent">
            <h3>Ranked</h3>
            <div id="rankedCard">
                <div id="oneSummRank" class="js-tilt">
                    <div id="sum1MiniLeftRank">
                        <h4 id="oneNameRank">Name</h4>
                        <img id="oneImageTier" src="" alt="rank tier">
                    </div>
                    <div id="sum1MiniRightRank">
                        <h4 id="oneQueue">QUEUE</h4>
                        <h4 id="oneTier">TIER</h4>
                        <h4 id="oneLps">LP</h4>
                        <h4 id="oneRank">Rank</h4>
                    </div>
                </div>
                <div id="twoSummRank" class="js-tilt">
                    <div id="sum2MiniLeftRank">
                        <h4 id="twoNameRank">Name</h4>
                        <img id="twoImageTier" src="" alt="rank tier">
                    </div>
                    <div id="sum2MiniRightRank">
                        <h4 id="twoQueue">QUEUE</h4>
                        <h4 id="twoTier">TIER</h4>
                        <h4 id="twoLps">LP</h4>
                        <h4 id="twoRank">Rank</h4>
                    </div>
                </div>
            </div>
        </div>
        <div id="Mastery" class="tabcontent">
            <h3>Mastery</h3>
            <div id="masteryCard">

            </div>
        </div>
    </div>
</section>

{% endblock %}
